<div
  class="bg-light-gray font-outfit flex min-h-screen items-center justify-center"
>
  <!-- card -->
  <div class="bg-White rounded-xl shadow-xl">
    <!-- item container -->
    <div class="m-4 flex flex-col items-center justify-center space-y-4">
      <img
        src="../assets/images/image-qr-code.png"
        alt=""
        class="h-56 rounded-lg"
      />
      <div class="block w-48 space-y-3">
        <p class="text-dark-blue block text-center text-base font-bold">
          Improve your front-end skills by building projects
        </p>
        <p class="text-grayish-blue block text-center text-xs">
          Scan the QR code to visit Frontend Mentor and take your coding skills
          to the next level
        </p>
      </div>
    </div>
  </div>
</div>
