<div class="flex justify-around border border-zinc-950 bg-zinc-800 text-white">
  <a routerLink="/email-sub-card" routerLinkActive="active">email-sub-card</a>
  <a routerLink="/pricing-grids" routerLinkActive="active">pricing-grids</a>
  <a routerLink="/email-sub-card" routerLinkActive="active">email-sub-card</a>
  <a routerLink="/email-sub-card" routerLinkActive="active">email-sub-card</a>
  <a routerLink="/email-sub-card" routerLinkActive="active">email-sub-card</a>
  <a routerLink="/email-sub-card" routerLinkActive="active">email-sub-card</a>
  <a routerLink="/email-sub-card" routerLinkActive="active">email-sub-card</a>
</div>

<router-outlet></router-outlet>
